%h2 Score Library
%h4
  You can get and upload scores.
%form(action='/login' method='POST')
  %p
    %input(type='text' value placeholder='Enter your name' name='id')
  %p
    %input(type='password' value placeholder='password' name='pass')
  %p
    %input(type='submit' value='Login')
  %p
    Created by sota1235
