!!!
%html
  %head
    %title Score Library
  %body
    %h2 Score Library
    %h4
      You can get and upload scores.
    %form(action='/login' method='POST')
      %p
        %input(type='text' class='form-control login-field' value placeholder='Enter your name' id='login-name')
        %label(class='login-field-icon fui-user' for='login-name')
      %p
        %input(type='password' class='form-control login-field' value placeholder='password' id='login-pass')
        %label(class='login-field-icon fui-lock' for='login-pass')
      %p
        %input(type='bumit' value='Login')
    %p
      Created by sota1235
